language: java

jdk:
  - oraclejdk7
  - oraclejdk8

after_success:
  - .buildscript/deploy_snapshot.sh

env:
  global:
    - secure: "ANbKGALdtQW0bmK55KXTtwGhvIHpjP3fn9VxNMV00oZgeaoocb5hex2QAMddH8BbK6Yu+seqd2bnD+Xcg2g/Kwh0Wn5ECUy+UdFIqJXwBAxc84ROKph1OePsQNV4xME7TUS0EVU8V9sb3lTBBJf3vso3CIAboTCe5oF1CMqY2i0/1Kbtrfl9xPpGkoQUIXAELUi0kRZaQars5d8bsLej1y7KIS9egXNfK4Qvbemnt2dyepvH8f6Iisn5NiOJdBRCqmeN801Ds67GveWfpxEL/j0+0Ht9qXrDGrNMoBQVPb0s4It0P6zm4DO38kxjEtAqK0vHnSleze1kGKp0km9P/lX1qYySy621GAEOfOWYkrWfebm5htzF5mxvb/SdDpotQDHGDWjtieO9GQktbxZwpzU02WZsA434nonjSbvc6tlNsSypW8dPQI586ky47bgHR7xSzD9XZnMUJEiWnEMIsWcxQbQZkqGbYCmbZFEUDFhKvmcXYxiZLnYAiRotZd9S1WcJjVhbH2TwMLGHrWMWyDkFN36F064k9BONKYgp82SO6zso+7/+nyIp4dDfSFlABdGefxRa51hROTSiB+zbZDn+qyg9NrmxiXXYjWRRur5ZG65fJ8HoDdQgcEiHDe/gbqfZiG3UlI/TeRbKo2onsy9P24nMQlcUzsK+xDA15rA="
    - secure: "gw3k4poG0fBpfMRtw+isfC6xfdd2m/kxiMgiw4Eeq6vrsTZ7BcXgzNiW1UDdiuXuoE5aXK757ntF/vTr3dVr6pzXiXzBelR5GWJHVQmZAP5f83pnqnOeX0MUPG699TN5IP9nvIkkXbZ/SvxDPTT+44dKhsZOQnVhRI0Rvfaf3FT9jLkx7xst3neTnOctg/fbLKUfxBq5ySU9r7iE+e3X0LEnKmzX72QT7Xo8IcAJ3x1h04E8aZqlm5TaZqvjFk3NZDXygQJc2nr1SUQaJEbkrc/6TBQzcM42mmbrmLhF86ggHU63riw1ng2wH/6KEtnRuDR9hK2o1ehOIK2wZBjV1H3rzcNTUFaA65M3tnShJzn+icHm4GCsN0+PjyF3J/IQ8h2gsWR0r3xXJJumTTbQR3A9LEbkzWTTA2PtgHn7g9ZwNQRHm8nj+LEg0Coo17mkkRR0E9clKlx5GrtVEgf5oDeNGBAtydCitNiXamXQkUbONlMvo+4rCD070V+IBb7kO0TBqgPl4k5WWaEG0RVLXn/1CsU89SrljRa9ybqAuTQwwcY987kpay/Abn/rcidLd+xisaN2ANJDNxvNjVLAbshCfy8dy0RDm2WaIrzYMZEeI54Zt6SyqyxiNuJ6g4hxv/iGZImFIZ+OlLIP1G+F8CtnqnJmZgOBNBKJoZi/7sY="

branches:
  except:
    - gh-pages

notifications:
  email: false

sudo: false

cache:
  directories:
    - $HOME/.gradle/wrapper
    - $HOME/.gradle/caches/modules-2/files-2.1
